@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
} 
body
    {
     width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(ayaneshu-bhardwaj-Acx3N9h-QXs-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    }
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0px 90px 0px 80px;
  flex-wrap: wrap;
  position: fixed;
}
nav img{
  width: 250px;
  height: 10vh;
}
nav .logo{
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  padding-left: 90px;
  font-family: 'Oswald', sans-serif;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-right:50px ;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position:fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: whitesmoke;
  text-stroke: 2px black;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}
.but{
 border-radius: 20px;
 font-size: 19px;
 padding-left: 20px;
 padding-right: 20px;
 cursor: pointer;
 font-family: 'Poppins', sans-serif;
 font-weight: 35px;
 background: skyblue;
 color: white;
 text-stroke: 2px black;
}
.explore
{
  border-radius: 50px;
 font-size: 25px;
 border: none;
 padding-left: 50px;
 padding-right: 50px;
 padding-top: 15px;
 padding-bottom: 15px;
 cursor: pointer;
 font-family: 'Poppins', sans-serif;
 font-weight: 35px;
 background: skyblue;
 color: white;
 text-stroke: 4px black;
 -webkit-text-stroke: 0.6px black;
 cursor: pointer;
}
 #about{
  background-image: linear-gradient(to bottom, #0e0f10, #232c2e, #394a48, #586a5e, #828971);
  height: 100vh;
  width: 100%;
}
#about img{
  float: left;
  width: 440px;
  height: 40vh;
  margin: 60px;
  padding-left: -140px;
}
#about p{
  margin: 60px;
font-size: 26px;
text-transform: capitalize;
line-height: 40px;
word-spacing: 10px;
font-family: 'Oswald', sans-serif;
color: whitesmoke;
font-weight: 40px;
stroke: 4px yellowgreen;

}
#f1 h4{
  color: white;
}
#about h2{
  font-size: 40px;
  color: white;
  padding-top: 80px;
  text-align: center;
  font-family: cursive;
  text-decoration: underline;
}
#services{
   background-image: linear-gradient(to bottom, #0d2020, #2a373b, #495055, #696b6e, #888888);
  height: 100vh;
  width: 100%;
}
  #contact{
  background-image: linear-gradient(to bottom, #131414, #151f1d, #1a2b22, #253523, #363f22);
  height: 100vh;
  width: 100%;
  font-family: 'Courgette', cursive;
}
section{
  width: 100%;
  height: 100vh;
}
html{
  scroll-behavior: smooth;
}
.cont{
  
}
.cont h2{
  text-align: center;
  color: white;
  padding: 90px;
  font-family: 'Courgette', cursive;
  font-size: 40px;
  border-width:
  background: yellow;
}
body { background:rgb(30,30,40); }
form { max-width:420px; margin:20px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

font-family: 'Courgette', cursive;